Repository mmartin-sub/libriscribe: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, pydantic-v1-check

Path conditions:
  pyright: any of: ^src/ and \.py$
  pydantic-v1-check: any of: \.py$

git workflows (wip), add mock_*, settings accepts extra env by default
  .github/workflows/deploy.yml
  .github/workflows/docs.yml
  .gitignore
  .secrets.baseline
  docs/package-lock.json
  src/libriscribe2/settings.py
  tests/mock/wiremock/docker-compose.yaml
  tests/mock/wiremock/wiremock-recordings/__files/mock_v1_chat_completions_2Rq6U_body.json
  tests/mock/wiremock/wiremock-recordings/__files/mock_v1_chat_completions_2wnUf_body.json
  tests/mock/wiremock/wiremock-recordings/__files/mock_v1_chat_completions_4gwN0_body.json
  tests/mock/wiremock/wiremock-recordings/__files/mock_v1_chat_completions_Bw1bW_body.json
  tests/mock/wiremock/wiremock-recordings/__files/mock_v1_chat_completions_VAk65_body.json
  tests/mock/wiremock/wiremock-recordings/__files/mock_v1_chat_completions_YFXaq_body.json
  tests/mock/wiremock/wiremock-recordings/__files/mock_v1_chat_completions_inV1p_body.json
  tests/mock/wiremock/wiremock-recordings/__files/mock_v1_chat_completions_jkG4r_body.json
  tests/mock/wiremock/wiremock-recordings/__files/mock_v1_chat_completions_loppO_body.json
  tests/mock/wiremock/wiremock-recordings/__files/mock_v1_chat_completions_rmr3p_body.json
  tests/mock/wiremock/wiremock-recordings/__files/mock_v1_chat_completions_yIo1Q_body.json
  tests/mock/wiremock/wiremock-recordings/mappings/mock_v1_chat_completions_2Rq6U.json
  tests/mock/wiremock/wiremock-recordings/mappings/mock_v1_chat_completions_2wnUf.json
  tests/mock/wiremock/wiremock-recordings/mappings/mock_v1_chat_completions_4gwN0.json
  tests/mock/wiremock/wiremock-recordings/mappings/mock_v1_chat_completions_Bw1bW.json
  tests/mock/wiremock/wiremock-recordings/mappings/mock_v1_chat_completions_VAk65.json
  tests/mock/wiremock/wiremock-recordings/mappings/mock_v1_chat_completions_YFXaq.json
  tests/mock/wiremock/wiremock-recordings/mappings/mock_v1_chat_completions_inV1p.json
  tests/mock/wiremock/wiremock-recordings/mappings/mock_v1_chat_completions_jkG4r.json
  tests/mock/wiremock/wiremock-recordings/mappings/mock_v1_chat_completions_loppO.json
  tests/mock/wiremock/wiremock-recordings/mappings/mock_v1_chat_completions_rmr3p.json
  tests/mock/wiremock/wiremock-recordings/mappings/mock_v1_chat_completions_yIo1Q.json
Due: pyright, pydantic-v1-check

upgrade packages
  .secrets.baseline
  .trunk/custom-dictionary.txt
  CONTRIBUTING.md
  cspell.json
  docs/docs/api/project-manager-api.md
  pyproject.toml
Due: none

min version is python 3.10
  .coverage
  docs/package-lock.json
  docs/package.json
  pyproject.toml
Due: none

add pre commit to update uv lock
  .github/workflows/deploy.yml
  .pre-commit-config.yaml
  uv.lock
Due: none

WIP few issues to solve in extra branch
  src/libriscribe2/services/book_creator.py
  src/libriscribe2/utils/file_utils.py
  tests/unit/agents/test_chapter_writer.py
  tests/unit/agents/test_formatting.py
Due: pyright, pydantic-v1-check

WIP
  .github/workflows/docs.yml
  .github/workflows/test.yml
  tests/test_api.py
Due: pydantic-v1-check

WIP
  .secrets.baseline
  README.md
  TODO.md
  src/libriscribe2/services/book_creator.py
  src/libriscribe2/settings.py
  tests/test_mock_failure_scenarios.py
  uv.lock
Due: pyright, pydantic-v1-check

fix for ruff
  .github/workflows/ci.yml
Due: none

small improvments
  .vscode/settings.json
  pyproject.toml
  uv.lock
Due: none

small improvments
  .github/workflows/ci.yml
  .vscode/settings.json
  pyproject.toml
  uv.lock
Due: none

WIP - fix pre commit
  .pre-commit-config.yaml
  .secrets.baseline
  tests/README.md
  tests/conftest.py
  tests/test_integration.py
  tests/unit/utils/test_llm_client.py
Due: pydantic-v1-check
